
<footer class="section">
  <div class="container pb-5 has-text-centered">
    <a class="mx-auto mb-4 is-inline-block" href="#" data-config-id="brand">
      <img class="image" src="/assets/logo.png" alt="" width="96px">
    </a>
    <ul class="mb-4 is-flex is-flex-wrap-wrap is-justify-content-center is-align-items-center">
      <li><a class="button is-white" href="#" data-config-id="01_link1">About</a></li>
      <li><a class="button is-white" href="#" data-config-id="01_link2">Company</a></li>
      <li><a class="button is-white" href="#" data-config-id="01_link3">Services</a></li>
      <li><a class="button is-white" href="#" data-config-id="01_link4">Testimonials</a></li>
    </ul>
    <div>
      <a class="mr-4 is-inline-block" href="#">
        <img src="bulma-plain-assets/socials/facebook.svg" data-config-id="auto-img-1-3">
      </a>
      <a class="mr-4 is-inline-block" href="#">
        <img src="bulma-plain-assets/socials/twitter.svg" data-config-id="auto-img-2-3">
      </a>
      <a class="mr-4 is-inline-block" href="#">
        <img src="bulma-plain-assets/socials/github.svg" data-config-id="auto-img-3-3">
      </a>
      <a class="mr-4 is-inline-block" href="#">
        <img src="bulma-plain-assets/socials/instagram.svg" data-config-id="auto-img-4-3">
      </a>
      <a class="is-inline-block" href="#">
        <img src="bulma-plain-assets/socials/linkedin.svg" data-config-id="auto-img-5-3">
      </a>
    </div>
  </div>
  <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
  <div class="container">
    <p class="has-text-centered" data-config-id="copy">All rights reserved | Filip Jugkala {% year %}</p>
  </div>
</footer>