
<footer class="section has-background-dark">
  <div class="container pb-5 has-text-centered" >
    <a class="mx-auto mb-4 is-inline-block" href="#" data-config-id="brand">
      <img class="image" src="/assets/logo.png" alt="" width="96px">
    </a>
    <ul class="mb-4 is-flex is-flex-wrap-wrap is-justify-content-center is-align-items-center">
      <li><a class="button is-white" href="#" data-config-id="01_link1">Home</a></li>
      <li><a class="button is-white" href="#" data-config-id="01_link2">About</a></li>
      <li><a class="button is-white" href="#" data-config-id="01_link2">Projects</a></li>
    </ul>
    <div>
      <a class="mr-4 is-inline-block" href="#" >
        <img src="/assets/github.svg" data-config-id="auto-img-1-3" style="height: 34px;">
      </a>
      <a class="is-inline-block" href="#">
        <img src="/assets/linkedin.svg" data-config-id="auto-img-5-3" style="height: 34px;">
      </a>
    </div>
  </div>
  <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
  <div class="container">
    <p class="has-text-centered" data-config-id="copy">All rights reserved | Filip Jugkala {% year %}
    </p>
    <p class="has-text-centered" data-config-id="copy"> App icons by <a target="_blank" href="https://icons8.com">Icons8</a>
    </p>
    
    
  </div>
</footer>