 <nav class="navbar py-4">
  <div class="container is-fluid">
    <div class="navbar-brand">
        
        <a href="/">
      <img class="image" src="/assets/logo.png" width="72px">
        </a>
      

      <a class="navbar-item has-text-primary" href="/" data-config-id="link2">Home</a>
      <a class="navbar-item has-text-primary" href="/projects" data-config-id="link1">Projects</a>
      <p class='navbar-item' aria-disabled="true"> <img class="iamge" src="/assets/ua.png" width="30px"></p>
      <p class='navbar-item' aria-disabled="true"> <img class="iamge" src="/assets/sy.png" width="30px"></p>
      <p class='navbar-item' aria-disabled="true"> <img class="iamge" src="/assets/tr.png" width="30px"></p>
       <a role="button" class=" navbar-burger mt-5" data-target="navMenu" aria-label="menu" aria-expanded="false">

        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
      {# <a class="navbar-item" href="/" data-config-id="link2">Home</a>
      <a class="navbar-item" href="/projects" data-config-id="link1">Projects</a> #}
      </div>
      <div class="navbar-item navbar-end">
        <div class="buttons">
        <a class="button is-primary is-light" href="/assets/filip_jugkala_resume.pdf" download  >Download resume</a>
        <a class="button is-primary" href="/#contact" data-config-id="primary-action">Contact</a>
        </div>
      </div>
    </div>
  </div> 
</nav>
