<nav class="navbar py-4">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <a class="navbar-item" href="#" data-config-id="brand">
        <img class="image" src="/assets/logo.png" alt="" height = '105px' width='70px'>
      </a>
      <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
      <a class="navbar-item" href="/" data-config-id="link2">Home</a>
      <a class="navbar-item" href="/about" data-config-id="link1">About</a>
      <a class="navbar-item" href="/projects" data-config-id="link1">Projects</a>
      </div>
      <div class="navbar-item navbar-end">
        <div class="buttons"><a class="button" href="#" data-config-id="secondary-action">Sign In</a><a class="button is-primary" href="#" data-config-id="primary-action">Sign Up</a></div>
      </div>
    </div>
  </div>
</nav>