<div class="column is-4 "  >
  <div class="box">
    <div class="box-content">
      <div class="is-relative mb-6" style="height: 216px;">
        <small class="is-absolute is-top-o is-right-0 mt-4 mr-4 tag is-dark" style="z-index: 10;" data-config-id="label1">PROJECT</small>
        <img class="image is-fullwidth is-cover is-rounded" style="height: 100%;" src="{{ post.data.image }} "alt="" data-config-id="image1" <a href="{{ post.url}}"  ></a>
      </div>
      <span class="is-inline-block mb-4 has-text-grey-dark" data-config-id="date1">{{post.date | postDate}}</span>
      <h2 class="mb-4 is-size-4 has-text-weight-semibold" data-config-id="title1" href="{{ post.url}}" >{{post.data.title}}</h2>
      <p class="mb-4 has-text-grey-dark" data-config-id="desc1">{{post.data.description}} </p>
      <a class="is-size-6 has-text-primary has-text-weight-bold" href="{{ post.url}}"  data-config-id="action">Read more</a>
      
    </div>
  </div>
</div>
