---
layout: base.njk
---

<section class="section">
    <div class="container content">
        <div class="columns is-multiline is-centered">
            <div class="column is-8 is-7-desktop">
                <h2 class="mb-5 is-size-1 is-size-3-mobile has-text-weight-bold" data-config-id="title">
                    {{ title }}</h2>

                    {{ content | safe}}

        <div class="mb-5 box">
          <img class="image " src="/assets/bus.jpg" alt="" data-config-id="image">
        </div>
            </div>
        </div>
    </div>
</section>

