---
layout: base.njk
---

<section class="section">
    <div class="container content">
        <div class="columns is-multiline is-centered">
            <div class="column is-8 is-7-desktop">
        <div class="mb-2">
          <img class="image " src="{{ image }}" alt="" data-config-id="image">
        </div>
                <h2 class="mb-5 is-size-1 is-size-3-mobile has-text-weight-bold" data-config-id="title">
                    {{ title }}</h2>

                    {{ content | safe}}

            </div>
        </div>
    </div>
</section>

