      <div class="column is-6 mb-5">
        <div class="columns is-multiline">
          <div class="column is-4 mb-4">
            <img class="image mt-5" src={{ post.data.image }} alt="" data-config-id="05_image1">
          </div>

          <div class="column is-8">
            <span><small class="has-text-grey-dark" data-config-id="date1">{{post.date | postDate}}</small></span>
            <h2 class="mb-2 is-size-3 is-size-4-mobile has-text-weight-bold" data-config-id="title1">{{post.data.title}}</h2>
            <p class="subtitle has-text-grey" data-config-id="desc1">{{post.data.description}}</p>
            <a href="{{ post.url}}" data-config-id="action">Read More</a>
          </div>

        </div>
      </div>