      <div class="column is-2 mb-4">
        <div class="box is-flex is-align-items-center has-background-light" style="height: 128px;">
          <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src={{post.data.img}} alt="" data-config-id="image1">
        </div>
      </div>