@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables

$body-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$title-weight: 700;
$warning: #FBE099;
$blue: #56A2BD;
$dark: #FFF;
$size-2: 5rem;


// 3. Set the derived variables

$body-background-color: $white;
$primary: $turquoise;

// 4. Import the rest of Bulma


@import "../../node_modules/bulma/bulma";