@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables

$body-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$title-weight: 700;
$warning: #FBE099;
$purple: #513bd1;
$dark: #FFF;
$size-2: 5rem;


// 3. Set the derived variables

$body-background-color: $white;
$primary: $purple;

.background--custom {
    background: linear-gradient(90deg, #ef7af5, #7f41b1, #C2A4F1);
    background-size: 300% 300%;
    animation: gradient 3s alternate infinite;
    // position: absolute;
    top: 0;
    left: 0;
    // height: 10%;
    // width: 70%;
  }
  @keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }

// 4. Import the rest of Bulma


@import "../../node_modules/bulma/bulma";