---
title: About me
layout: base.njk
---

<div class="columns is-multiline is-vcentered" data-container="1">
  <div class="column is-12 is-4-desktop is-10-mobile" data-bucket="1">

    <div data-container="1" data-bucket="1">
        <img class="image" src="/assets/big-head.png" alt="alt">
    </div>
  </div>
  <div class="column is-12 is-6-desktop" data-bucket="2">
    <div class="container p-5" >
                  {# <h2 class="mb-5 is-size-3 is-size-1-mobile has-text-weight-bold" data-config-id="title">Tell us about You...</h2> #}
            <h2 class="mb-5 is-size-3 is-size-3-mobile " data-config-id="title"><strong>Name: </strong> Filip Jugkala.</h2>
            <h2 class="mb-5 is-size-3 is-size-3-mobile " data-config-id="title"><strong>Location: </strong> Zagreb, Croatia.</h2>
            <h2 class="mb-5 is-size-3 is-size-3-mobile " data-config-id="title"><s> Life plan:  Learn everything. Realize it's not possible. Get dissapointed. </s>
            </h2>
            <h2 class="mb-5 is-size-3 is-size-3-mobile " data-config-id="title"> <strong>New plan: </strong> Start with JavaScript and gradually become  🎵 the very best, like no one ever was. TAM TAM! 🎵  </h2>
            <h2 class="mb-5 is-size-3 is-size-3-mobile " data-config-id="title"> <strong>Likes: </strong> to play football, running, lake Jarun, Balašević, hiking. </h2>
            <h2 class="mb-5 is-size-3 is-size-3-mobile " data-config-id="title"> <strong>Last seen: </strong> working at CARNET, maintaining two small projects for Helpdesk and working on a new one. </h2>
    </div>
  </div>
</div>