---
title: About me
layout: base.njk
---


<section class="section">
  <div class="container">
    <div class="mb-6 is-vcentered columns is-multiline">
      <div class="column is-6 mb-5">
        <div>
          <h2 class="mb-5 is-size-1 is-size-3-mobile has-text-weight-bold" data-config-id="title">Tell us about You...</h2>
        </div>
      </div>
      <div class="column is-6 has-text-centered">
        <img class="" style="border-radius: 50% important" src="/assets/logo.png" alt="" data-config-id="image">
      </div>
    </div>
    <div class="columns is-multiline is-centered">
      <div class="column is-8 is-7-desktop">
        <p class="subtitle has-text-grey mb-5" data-config-id="p1">These types of questions led me to miss numerous deadlines, and I wasted time and energy in back-and-forth communication. Sadly, this situation could have been avoided if the wireframes had provided enough detail.</p>
        <p class="subtitle has-text-grey mb-5" data-config-id="p2">These types of questions led me to miss numerous deadlines, and I wasted time and energy in back-and-forth communication. Sadly, this situation could have been avoided if the wireframes had provided enough detail.</p>
        <p class="subtitle has-text-grey mb-5" data-config-id="p3">Now that I am a UX designer, I notice that some designers tend to forget that wireframes are equally creative and technical. We are responsible for designing great ideas, but we are also responsible for creating product specifications. I admit that there can be so many details to remember that it’s easy to lose track. To save time and energy for myself, I gathered all of my years of wireframing knowledge into a single checklist that I refer to throughout the process. And now I am sharing this knowledge with you, so that you can get back to being creative.</p>
      </div>
    </div>
  </div>
</section>