---
title: About me
layout: base.njk
---


<section class="section pl-0">
  <div class="container pl-0 ml-0 mr-auto ">
    <div class="mb-6 is-vcentered columns">
        <div class="column is-5 has-text-centered ">
        <img class="image" style="border-radius: 50% important" src="/assets/big-head.png" alt="" data-config-id="image">
      </div>
      <div class="column is-7 mb-5 p-6">
        <div>
          <h2 class="mb-5 is-size-2 is-size-1-mobile has-text-weight-bold" data-config-id="title">Tell us about You...</h2>
          <h2 class="mb-5 is-size-3 is-size-3-mobile " data-config-id="title">Name: Filip Jugkala</h2>
          <h2 class="mb-5 is-size-3 is-size-3-mobile " data-config-id="title">Location: Zagreb, Croatia</h2>
          <h2 class="mb-5 is-size-3 is-size-3-mobile " data-config-id="title">Plan: <s> Learn everything. Realize it's not possible. Get dissapointed. </s> </h2>
          <h2 class="mb-5 is-size-3 is-size-3-mobile " data-config-id="title">New plan: Start with JavaScript and gradually become 🎵 the very best, like no one ever was TAM TAM! 🎵  </h2>
        </div>
      </div> 
      {# <div class="column is-6 has-text-centered ">
        <img class="" style="border-radius: 50% important" src="/assets/head.png" alt="" data-config-id="image">
      </div> #}
    </div>
  </div>
</section>