---
title: Fancy title
layout: base.njk
---

<section class="section ">
  <div class="container">
    <div class="is-vcentered columns is-multiline">
      <div class="column is-6" >
        <img class="image " style="border-radius: 73% 27% 29% 71% / 34% 34% 66% 66%"  src="/assets/blob.png" alt="" data-config-id="04_image">
      </div>
      <div class="column is-5 ml-auto">
        <h2 class="mb-2 is-size-2 is-size-1-mobile has-text-weight-bold" data-config-id="header">Ooh a visitor!</h2>
        <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold" data-config-id="header">I am <span class="title has-text-primary is-size-3-mobile is-size-1" data-config-id="label">Filip Jugkala.</span>
        </h2>
        <p class="subtitle has-text-grey mb-5" data-config-id="desc">And this purple thing is a blob. How cool is that! Blob blob...</p>
        <a class="button is-primary background--custom_button" href="#" data-config-id="primary-action ">Explore my work</a>
      </div>
    </div>
  </div>
</section>

<section class="section is-large" >
  <div class="container " >
    <div class="mb-6 columns is-multiline is-centered" >
      <div class="column is-8 mb-6 has-text-centered ">
        <span class="has-text-grey-dark" data-config-id="label">Tools</span>
        <h2 class="mt-2 mb-4 is-size-2 is-size-1-mobile has-text-weight-bold " data-config-id="header">Look what I know.</h2>
        <p class="subtitle has-text-grey" data-config-id="desc">Okay, I don't "know it" know it, but I can make something with it. How much do You know? Hm? Hm?! </p>
      </div>
    </div>

    <div class="columns is-multiline">

      <div class="column is-4 mb-4">
        <h2 class="subtitle has-text-centered">JavaScript</h2>
        <div class="box is-flex is-align-items-center has-background-light background--custom_box" style="height: 128px;">
          <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="/assets/javascript.svg" alt="" data-config-id="image2">
        </div>

      </div>
      <div class="column is-4 mb-4">
        <h2 class="subtitle has-text-centered">Svelte</h2>
        <div class="box is-flex is-align-items-center has-background-light" style="height: 128px;">
          <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="/assets/svelte.svg" alt="" data-config-id="image2">
        </div>

      </div>
      <div class="column is-4 mb-4">
        <h2 class="subtitle has-text-centered">Node js.</h2>
        <div class="box is-flex is-align-items-center has-background-light" style="height: 128px;">
          <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="/assets/nodejs.svg" alt="" data-config-id="image2">
        </div>

      </div>

    </div>

    <div class="columns is-multiline">

      <div class="column is-3 mb-4">
        <h2 class="subtitle has-text-centered">Bulma</h2>
        <div class="box is-flex is-align-items-center has-background-light" style="height: 128px;">
          <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="/assets/bulma.svg" alt="" data-config-id="image2">
        </div>
      </div>

      <div class="column is-3 mb-4">
        <h2 class="subtitle has-text-centered">Eleventy</h2>
        <div class="box is-flex is-align-items-center has-background-light" style="height: 128px;">
          <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 64px;" src="/assets/11ty.svg" alt="" data-config-id="image2">
        </div>
      </div>
      <div class="column is-3 mb-4">
        <h2 class="subtitle has-text-centered">WordPress</h2>
        <div class="box is-flex is-align-items-center has-background-light" style="height: 128px;">
          <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="/assets/wordpress.svg" alt="" data-config-id="image2">
        </div>
      </div>

      <div class="column is-3 ">
        <h2 class="subtitle has-text-centered">Netlify</h2>
        <div class="box is-flex is-align-items-center has-background-light" style="height: 128px;">
          <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="/assets/netlify.svg" alt="" data-config-id="image2">
        </div>

      </div>
    </div>
  </div>
</div>
</section>

<section class="section" style="background: radial-gradient(circle, #4f46e5 10%, transparent 11%),radial-gradient(circle at bottom left, #4f46e5 5%, transparent 6%),radial-gradient(circle at bottom right, #4f46e5 5%, transparent 6%),radial-gradient(circle at top left, #4f46e5 5%, transparent 6%),radial-gradient(circle at top right, #4f46e5 5%, transparent 6%);
        background-size: 1em 1em;
        background-color: #f9f9ff;
        opacity: 1">
<div class="container" >
  <div class="mb-6 columns is-multiline is-centered" >
    <div class="column is-8 has-text-centered">
      <span class="has-text-grey-dark has-text-weight-bold is-size-5" data-config-id="label">Featured</span>
      <h2 class="mt-2 mb-4 is-size-2 is-size-1-mobile has-text-weight-bold has-text-primary" data-config-id="header">Wanna see some projects?</h2>
      {# <p class="subtitle is-size-4 has-text-weight-bold " data-config-id="desc">How many have You made? Pff. I thought so...</p> #}
    </div>
  </div>

  <div class="columns is-multiline mb-16" >

    {%- for post in collections.featured | reverse -%}

      {% include 'project-blob.njk' %}

    {%- endfor %}
  </div>

  <div class="has-text-centered pt-3">
    <a class="button is-primary background--custom_button" href="#" data-config-id="primary-action">Give me more! Mooooore!</a>
  </div>

  {# <div class="columns is-multiline">
      {%- for post in collections.post | reverse -%}

        {% include 'project-blob.njk' %}

      {%- endfor %}

    </div> #}

</div>
</section>

<section class="section is-large" >
<div class="container" >
  <div class="is-vcentered columns is-multiline" >
    <div class="column is-6 is-5-desktop mr-auto" style="background: linear-gradient(45deg , #4f46e5 10%,transparent 11%, transparent 89% , #4f46e5 90%),linear-gradient(135deg , #4f46e5 10%,transparent 11%, transparent 89% , #4f46e5 90%),radial-gradient(circle, transparent 25%, #f9f9ff  26%),linear-gradient(0deg, transparent 44%, #4f46e5 45%, #4f46e5 55%, transparent 56%), linear-gradient(90deg, transparent 44%, #4f46e5 45%, #4f46e5 55%, transparent 56%);
        background-size: 2em 2em;
        background-color: #f9f9ff;
        opacity: 0.9" >
      <img class="mx-auto image is-fullwidth" src="/assets/bldue-blob.svg" alt="" data-config-id="image">
    </div>
    <div class="column is-6">
      <div  >
        <img   class="mb-3 is-block image is-fullwidth" style="height: 64px; width: 64px; "  src="/assets/quote.png" alt="" data-config-id="auto-img-1-1">
        <h2 class="mb-5 is-size-2 is-size-1-mobile has-text-weight-bold has-text-primary" data-config-id="header" >This guy kicks a**!</h2>
        <p class="subtitle has-text-grey mb-2 " data-config-id="desc"> Our company, which is a real company, just wanted a simple website and my, my, he really made it. An animal!</p>
        <p class="subtitle has-text-grey mb-6" data-config-id="desc">I am a real person for sure, for sure and this is not Filip writing for me noooo.. I am writing this. Really.</p>
        <h4 class="is-size-5 has-text-weight-bold" data-config-id="name">Name A. Person</h4>
        <p class="has-text-grey-dark" data-config-id="title">CEO & Founder</p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="section has-background-primary-light">
<div class="container">
  <div class="columns is-multiline is-centered">
    <div class="column is-8 is-6-desktop">
      <div class="mx-auto mb-5 has-text-centered">
        <span class="has-text-grey-dark">Contact</span>
        <h2 class="mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Be old-school, send an SMS. I love a good SMS.</h2>
        <p class="has-text-grey-dark">.. or send an email. Try calling if You like the sound of beeping.</p>
      </div>
    </div>
    <div class="column is-12 is-10-desktop">
      <div class="columns is-multiline">
        <div class="column is-3 mb-4">
          <div class="box py-5 has-background-light has-text-centered" style="height: 100%">
            <h3 class="is-size-4 has-text-weight-bold">Contact</h3>
            <p>☎️</p>
            <p class=" mb-4"> 
            <a href="tel:+385911376533" class="footer__link">+385 91 1376533</a>
            </p>
            <p>📬</p>
            <p>
             <a href="mailto:filip.jugkala@yahoo.com" class="footer__link">filip.jugkala@yahoo.com</a>
            </p>
          </div>
        </div>
        <div class="column is-6 mb-3">
          <div class="box py-5 has-background-light has-text-centered" style="height: 100%">
            <h3 class="is-size-4 has-text-weight-bold">Random trivia</h3>
            <p class="mt-3 mb-1">💝 Blood type: 0-</p>
            <p>⚽ Advanced Trivela passer. </p>
            <p>
              <a href="/assets/modric.jpg" target="_blank" rel="noopener noreferrer">🏆 These pics got me 3 tickets to UEFA Euro 2016.</a>
            </p>

          </div>
        </div>
        <div class="column is-3 mb-3">
          <div class="box py-5 has-background-light has-text-centered" style="height: 100%; max-height: 196px;">
            <h3 class="is-size-4 has-text-weight-bold mb-5">Socials</h3>
            <div class="is-flex is-justify-content-center is-align-items-center">
              <img class="mx-2 image" style="height: 34px;" src="/assets/github.svg" alt="">
              <img class="mx-2 image" style="height: 34px;" src="/assets/linkedin.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>