---
title: Fancy title
layout: base.njk
---

<div class="container">
<h2 class="title has-text-primary is-size-4">Hello You beast!</h2>
<p>How You doing?</p>
</div>
<script src="/lib/main.js"></script>