---
title: Fancy title
layout: base.njk
---

<section class="section mb-6">
  <div class="container">
    <div class="is-vcentered columns is-multiline">
      <div class="column is-6" >
        <img class="image" style="border-radius: 73% 27% 29% 71% / 34% 34% 66% 66%"  src="/assets/download.png" alt="" data-config-id="04_image">
      </div>
      <div class="column is-5 ml-auto">
        <h2 class="mb-4 is-size-2 is-size-3-mobile has-text-weight-bold" data-config-id="header">Hi You!</h2>
        <p class="subtitle has-text-grey mb-2" data-config-id="desc">I am Filip Jugkala.</p>
        <p class="subtitle has-text-grey mb-5" data-config-id="desc">A developer from Zagreb, Croatia.</p>
        <a class="button is-primary" href="#" data-config-id="primary-action">Explore my work</a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="mb-6 columns is-multiline is-centered">
      <div class="column is-8 has-text-centered">
        <span class="has-text-grey-dark" data-config-id="label">Featured projects</span>
        <h2 class="mt-2 mb-4 is-size-1 is-size-3-mobile has-text-weight-bold" data-config-id="header">See this first.</h2>
        <p class="subtitle has-text-grey" data-config-id="desc">See this, don't look anywhere else, just check this and then do whatever. But this first, please.</p>
      </div>
    </div>

    <div class="columns is-multiline">
      {%- for post in collections.featured | reverse -%}

        {% include 'project-blob.njk' %}

      {%- endfor %}

    </div>

  </div>
</section>



<section class="section">
  <div class="container">
      <div class="column mb-6 has-text-centered is-centered">
        <span class="has-text-grey-dark" data-config-id="label">Tools</span>
        <h2 class="mt-2 mb-4 is-size-1 is-size-3-mobile has-text-weight-bold" data-config-id="header">Look what I know.</h2>
        <p class="subtitle has-text-grey" data-config-id="desc">OKay I don't "know it" know it but I can make something with it.</p>
      </div>
    
    <div class="columns is-multiline">

      <div class="column is-2 mb-4">
        <div class="box is-flex is-align-items-center has-background-light" style="height: 128px;">
          <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="bulma-plain-assets/logos/slack.svg" alt="" data-config-id="image1">
        </div>
      </div>

      <div class="column is-2 mb-4">
        <h2 class="subtitle has-text-centered">Svelte</h2>
        <div class="box is-flex is-align-items-center has-background-light" style="height: 128px;">
          <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="/assets/icons8-svelte.svg" alt="" data-config-id="image2">
        </div>
      </div>
      <div class="column is-2 mb-4">
        <div class="box is-flex is-align-items-center has-background-light" style="height: 128px;">
          <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="bulma-plain-assets/logos/spotify.svg" alt="" data-config-id="image3">
        </div>
      </div>
      <div class="column is-2 mb-4">
        <div class="box is-flex is-align-items-center has-background-light" style="height: 128px;">
          <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="bulma-plain-assets/logos/amazon.svg" alt="" data-config-id="image4">
        </div>
      </div>
      <div class="column is-2 mb-4">
        <div class="box is-flex is-align-items-center has-background-light" style="height: 128px;">
          <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="bulma-plain-assets/logos/netflix.svg" alt="" data-config-id="image5">
        </div>
      </div>
      <div class="column is-2">
        <div class="box is-flex is-align-items-center has-background-light" style="height: 128px;">
          <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="bulma-plain-assets/logos/stripe.svg" alt="" data-config-id="image6">
        </div>
      </div>
    </div>

  </div>
</section>