---
title: Blooooog gloooog
layout: base.njk
---

<section class="section">
    <div class="container">
        <div class="mb-6 columns is-multiline is-centered">
            <div class="column is-8 has-text-centered">
                <span class="has-text-grey-dark" data-config-id="label">Projects</span>
                <h2 class="mt-2 mb-4 is-size-1 is-size-3-mobile has-text-weight-bold" data-config-id="header">Work, work.</h2>
                <p class="subtitle has-text-grey" data-config-id="desc">This was aaaaaaaaaaall me. Solo work, every piece of it. No help from other. None. Just me. </p>
            </div>
        </div>

        <div class="columns is-multiline">
            {%- for post in collections.post | reverse -%}

                {% include 'project-blob.njk' %}

            {%- endfor %}

        </div>

    </div>
</section>