---
title: Blooooog gloooog
layout: base.njk
---

<section class="section">
    <div class="container">
        <div class="mb-6 columns is-multiline is-centered">
            <div class="column is-8 has-text-centered">
                <span class="has-text-grey-dark" data-config-id="label">More projects</span>
                <h2 class="mt-2 mb-4 is-size-2 is-size-3-mobile has-text-weight-bold" data-config-id="header">You're super interested. I knew it. </h2>
                <p class="subtitle is-size-4 has-text-grey" data-config-id="desc">This was all me. No help from others. None. Just me. And some libraries. Few tutorials. Google of course. GitHub and Stack. But as I said, completely me. </p>
            </div>
        </div>

        <div class="columns is-multiline">
            {%- for post in collections.post | reverse -%}

                {% include 'project-blob.njk' %}

            {%- endfor %}

        </div>

    </div>
</section>